<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<section class="customer-love-section">
  <div class="cst-custm-lovesec-new">
    <span>
      <img
        class="ony-svg-img-leaf"
        src="https://cdn.shopify.com/s/files/1/0861/1106/0252/files/Logo_Survyia-01_copy_1.png?v=1729078847"
      >
      <img
        class="ony-svg-img-star"
        src="https://cdn.shopify.com/s/files/1/0861/1106/0252/files/Vector_Smart_Object_3.png?v=1729078845"
      >
    </span>
    <h1>Customer Love</h1>
  </div>
  <div class="product-grid">
    {% assign class_toggle = 0 %}
    {% assign block_index = 0 %}
    {% for block in section.blocks %}
      {% case block.type %}
        {% when 'product_block' %}
          {% assign product = all_products[block.settings.selected_product] %}
          {% if product %}
            <div
              class="cst-custom-product-crd cards product-item"
              data-index="{{ block_index }}"
              {% if block_index >= 12 %}
                style="display:none;"
              {% endif %}
            >
              <div class="product-card {% if class_toggle == 0 %}yellow{% else %}red{% endif %}">
                <img src="{{ product.featured_image | img_url: 'master' }}" alt="{{ product.title }}">
                <div class="cst-custom-produt-constent">
                  <h2>{{ product.title }}</h2>
                  {% comment %}
                    <div
                      class="areviews_product_item areviews_stars{{ product.id }}"
                      data-product-id="{{ product.id }}"
                    ></div>
                  {% endcomment %}

                  {% if block.settings.custom_review %}
                    {% for i in (1..block.settings.custom_review) %}
                      <i style="margin-left: 2px; color:#000;" class="fas fa-star" aria-hidden="true"></i>
                    {% endfor %}
                  {% endif %}
                  {% comment %}
                    <p>{{ product.description | strip_html | truncate: 100 }}</p>
                  {% endcomment %}
                  <p>{{ block.settings.customreview_text | strip_html | truncate: 100 }}</p>
                </div>
              </div>
              <div class="cst-btn ">
                <a href="{{ product.url }}" class="button">
                  Shop Now
                  <span class="cst-custom-arrow">
                    <img src="https://cdn.shopify.com/s/files/1/0861/1106/0252/files/arroww.png?v=1728394015">
                  </span>
                </a>
              </div>
            </div>
          {% endif %}
        {% when 'media_block' %}
          <div
            class="product-card cards product-item"
            data-index="{{ block_index }}"
            {% if block_index >= 12 %}
              style="display:none;"
            {% endif %}
          >
            <video class="myVideo" width="100%" height="100%" controls loop>
              <source src="{{ block.settings.media_video.sources[1].url }}" type="video/mp4">
            </video>
            <div class="play-btn" id="playButton">
              <span>
                <img
                  src="https://cdn.shopify.com/s/files/1/0861/1106/0252/files/play.png?v=1728393076"
                  class="img-fluid"
                  alt="bottle"
                >
              </span>
            </div>
            <h2>{{ block.settings.video_title }}</h2>
            <div class="cst-btn">
              <a href="{{ product.url }}" class="button">
                Shop Now
                <span class="cst-custom-arrow">
                  <img src="https://cdn.shopify.com/s/files/1/0861/1106/0252/files/arroww.png?v=1728394015">
                </span>
              </a>
            </div>
          </div>
          {% assign class_toggle = class_toggle | plus: 1 %}
          {% assign class_toggle = class_toggle | modulo: 2 %}
      {% endcase %}
      {% assign block_index = block_index | plus: 1 %}
    {% endfor %}
  </div>
  <script>
    $(document).ready(function(){
        $('.play-btn').click(function() {
            // Pause all videos first
            $('video').each(function() {
                this.pause();  // Pause the video
                this.controls = false;  // Hide controls for all other videos
            });

            // Play the clicked video
            var video = $(this).siblings('video')[0];
            video.play();
            video.controls = true;  // Show controls for the clicked video

            // Hide the play button
            $(this).hide();
        });
    });
  </script>
  <div class="cst-btn customer-llove-btn">
    <a href="/collections" class="button">
      View More
      <span class="cst-custom-arrow"
        ><img src="https://cdn.shopify.com/s/files/1/0861/1106/0252/files/arroww.png?v=1728394015"
      ></span>
    </a>
  </div>
</section>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const viewMoreButton = document.querySelector('.customer-llove-btn .button');
    let itemsToShow = 12; // Initially showing 12 items
    const productItems = document.querySelectorAll('.product-item');

    viewMoreButton.addEventListener('click', function (event) {
      event.preventDefault();
      itemsToShow += 12; // Increment the number of items to show by 12
      productItems.forEach((item, index) => {
        if (index < itemsToShow) {
          item.style.display = 'block';
        }
      });
      // Hide "View More" button if all items are visible
      if (itemsToShow >= productItems.length) {
        viewMoreButton.style.display = 'none';
      }
    });
  });
</script>

{% schema %}
{
  "name": "Customer Love Section",
  "settings": [],
  "blocks": [
    {
      "type": "product_block",
      "name": "Product Block",
      "settings": [
        {
          "type": "product",
          "id": "selected_product",
          "label": "Select a product"
        },
        {
          "type": "richtext",
          "id": "customreview_text",
          "label": "Review text"
        },
        {
          "type": "range",
          "id": "custom_review",
          "min": 1,
          "max": 5,
          "step": 1,
          "label": "Reviews",
          "default": 1
        }
      ]
    },
    {
      "type": "media_block",
      "name": "Video or Image Block",
      "settings": [
        {
          "type": "radio",
          "id": "media_type",
          "label": "Media Type",
          "options": [
            {
              "label": "Image",
              "value": "image"
            },
            {
              "label": "Video",
              "value": "video"
            }
          ]
        },
        {
          "type": "image_picker",
          "id": "media_image",
          "label": "Select an image",
          "info": "Shown if media type is set to Image"
        },
        {
          "type": "video",
          "id": "media_video",
          "label": "Video URL (YouTube/Vimeo)",
          "info": "Shown if media type is set to Video"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Customer Love",
      "category": "Custom"
    }
  ]
}
{% endschema %}
